/* styles.css */
body {
    background: ;
    padding: 0 20px 20px 20px;
    margin: 0;
} 

p{
    color: #BE0547;
    font-size: 1em;
    font-family: Comic sans;
}

h1, h2, h3{
color: #4A06BA;
font-family: Arial, "Palatino Linotype", Times, serif;
border-bottom: 2px;
padding-top: 10px;
padding-bottom: 5px;
}
li{
    color:#9A8705;
    
}

article {
    max-width: 760px;
    margin: 0 auto;
}

#logo {
    font-family: Baskerville, Palatino, sans-serif;
    font-size: 2em;
    color: rgba(255,255,255,.8);
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(191,91,116);
    border-radius: 0 0 0 10px 10px;
    padding: 10px;
}
