/* styles.css */
body {
    background-color: #0D0E11;
    padding: 0 20px 20px 20px;
    margin: 0;
} 

p{
    color: #650018;
    font-size: 1em;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

h1, h2, h3{
color: #002E70;
font-family: Arial, "Palatino Linotype", Times, serif;
border-bottom: 2px;
padding-top: 10px;
padding-bottom: 5px;
}
li{
    color:#9A8705;
    
}

article {
    max-width: 760px;
    margin: 0 auto;
}

#logo {
    font-family: Baskerville, Palatino, sans-serif;
    font-size: 2em;
    color: #002E70;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    background-color: #9A8705;
    border-radius: 0 0 0 10px 10px;
    padding: 10px;
}
