/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

 h1, h2, h3{
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
 }

 p{
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
 }

 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

.main {
	float: left;
	width: 70%;
}

body {
  color: #7ae0ff;
  font-family: "Sansation", sans-serif;
  padding-top: 115px;
  background: #2b2c2c url(images/deBono_hats.png) repeat-x;
  max-width:800px;
  max-height:500px;
  margin: 0 auto;
}
h1 {
  font-size: 3em;
  font-family: "Volkhov", serif;
  margin-bottom: 15px;
  border: #ffffff;
}
h2 {
  font-size: 2.2em;
  color: #ffffff;
  margin-bottom: 5px;
}
.main h2 {
  color: #78bbf1;
  border-bottom: 2px white solid;
  background: url(images/bluehat.png) repeat;
  padding: 0 0 2px 80px;
}
.main p {
  color: #ffffff;
  font-family: "Sansation", sans-serif;
  font-size: 1.1em;
  line-height: 150%;
  margin-bottom: 10px;
  margin-left: 80px;
}
p.intro {
  color: #ffffff;
  font-family: "Sansation", sans-serif;
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 15px;
}
